# Distribution / packaging
*.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/

# scrap notebook that doesn't need to be commited.
notebooks/scrap.ipynb

# any intermediate data locally
data/

# notebook checkpoints
notebooks/.ipynb_checkpoints/

.DS_Store

.env

*.log